body {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    align-items: center;
    height: 60px;
}

.main-header__logo {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
}

.main-header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header__item {
    display: inline;
    margin-right: 150px;
}

.main-header__item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: PT Sans;
    font-weight: 700;
    font-weight: bold;
    text-transform: uppercase;
}

.main-header:first-child {
    margin-left: 70px;
}

.main-header__item:last-child {
    margin-right: 0;
}

.main-background {
    background-image: url(../images/back-desktop1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    min-height: 550px;
}

.main-image {
    padding-top: 50px;
    text-align: center;
    margin-left: -20px;
    margin-bottom: 47px;
}

.about {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-family: PT Sans;
    font-weight: 700;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.about-second {
    font-size: 14px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
}

.bridge-text,
.text {
    background-color: #81b3d2;
    height: 272px;
    width: 440px;
    margin-right: 0;
    padding-right: 0;
}

.real-bridge,
.real-city {
    font-size: 21px;
    font-family: PT Sans;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
}

.second-bridge,
.numbertwo,
.second-line,
.number {
    font-size: 14px;
    font-family: PT Sans;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding-top: 18px;
}

.bridge,
.city-advantages,
.city {
    display: flex;
    margin: 0;
    padding: 0;
}

.house {
    height: 272px;
    width: 440px;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 60px;
}

.food {
    height: 272px;
    width: 440px;
    text-align: center;
    padding-top: 64px;
}

.souvenirs {
    height: 272px;
    width: 440px;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 57px;
}

.main-food,
.main-souvenirs,
.main-house {
    font-size: 21px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.second-souvenirs,
.second-food,
.second-house {
    font-size: 14px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding-top: 30px;
}

.other-advantages {
    display: flex;
    background-color: #eeeeee;
}

.tourists,
.road,
.area {
    height: 272px;
    width: 440px;
}

.main-tourists,
.main-road,
.main-area {
    font-size: 21px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}

.numberfive,
.second-tourists,
.numberfour,
.second-road,
.numberthree,
.second-area {
    font-size: 14px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
}

.interesting {
    font-size: 30px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.dates {
    font-size: 14px;
    font-family: PT Sans;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.button {
    width: 460px;
    height: 60px;
    background-color: #81b3d2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

.hotel a {
    text-decoration: none;
    font-size: 21px;
    font-family: PT Sans;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 20px;
}

.hotel {
    display: flex;
    align-items: center;
}

.map {
    margin-top: 65px;
}

.footer {
    display: flex;
}

.hesh {
    width: 580px;
    height: 100px;
    padding-top: 35px;
}

.heshteg {
    font-size: 21px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.social {
    width: 400px;
    height: 100px;
    display: flex;
    padding-top: 35px;
    padding-left: 125px;
}

.twiter {
    width: 50px;
    height: 50px;
    background-color: #81b3d2;
}

.twit {
    padding-top: 20px;
    padding-left: 16px;
}

.facebook {
    width: 50px;
    height: 50px;
    background-color: #81b3d2;
    margin-left: 5px;
}

.face {
    padding-top: 17px;
    padding-left: 20px;
}

.youtube {
    width: 50px;
    height: 50px;
    background-color: #81b3d2;
    margin-left: 5px;
}

.tube {
    padding-top: 19px;
    padding-left: 15px;
}

.academy {
    width: 400px;
    height: 100px;
    display: flex;
    padding-top: 35px;
    padding-left: 125px;
}

.created {
    font-size: 14px;
    font-family: PT Sans;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

.acadimage {
    padding-top: 17px;
    padding-left: 10px;
}
